:root {
	--index: calc(1vw + 1vh);
	--color-first: #606DDD;
	--color-second: #081019;
	--color-third: #D0D0D0;
	--color-fourth: #DF3939;
	--color-fifth: #1EA32B;
	--bg-first: #E0EDFF;
	--bg-second: linear-gradient(180deg, var(--bg-fourth) 0%, var(--bg-first) 100%);
	--bg-third: #A0A3B6;
	--bg-fourth: #FFD1E7;
	--bg-fifth: linear-gradient(180deg, #eff0f2 0%, #ececec 100%);
	--gap: calc(var(--index) * 1)
}

@font-face {
	font-family: 'ArsenicaTrial-Medium';
	src: url('../fonts/ArsenicaTrial-Medium.eot');
	src: url('../fonts/ArsenicaTrial-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArsenicaTrial-Medium.woff2') format('woff2'),
		url('../fonts/ArsenicaTrial-Medium.woff') format('woff'),
		url('../fonts/ArsenicaTrial-Medium.ttf') format('truetype'),
		url('../fonts/ArsenicaTrial-Medium.otf') format('opentype'),
		url('../fonts/ArsenicaTrial-Medium.svg#ArsenicaTrial-Medium') format('svg');
	font-weight: 400;
}

@font-face {
	font-family: 'ArnoPro-Regular';
	src: url('../fonts/ArnoPro-Regular.eot');
	src: url('../fonts/ArnoPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArnoPro-Regular.woff2') format('woff2'),
		url('../fonts/ArnoPro-Regular.woff') format('woff'),
		url('../fonts/ArnoPro-Regular.ttf') format('truetype'),
		url('../fonts/ArnoPro-Regular.otf') format('opentype'),
		url('../fonts/ArnoPro-Regular.svg#ArsenicaTrial-Medium') format('svg');
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	color: var(--color-second);
	font-size: 24px;
	font-family: 'ArnoPro-Regular', sans-serif;
	overflow-x: hidden;
}

@media screen and (max-width: 991px) {

	html,
	body {
		font-size: 22px;
	}
}

body.open-modal {
	overflow-y: hidden;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	background-color: #000;
	opacity: .7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'ArsenicaTrial-Medium', sans-serif;
	font-weight: 400;
	color: var(--color-first);
}

.invert {
	color: var(--color-second);
}

h1 {
	font-size: calc(var(--index) * 5.4);
}

h2 {
	font-size: calc(var(--index) * 3.5);
}

/* will-change */
.content,
.header-bg {
	will-change: transform;
}

.gap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--gap);
}

.btn {
	font-family: 'ArnoPro-Regular', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	width: 100%;
	max-width: 300px;
	text-align: center;
	padding: 16px;
	justify-content: center;
	align-items: center;
	background: #606DDD;
	color: #fff;
	text-decoration: none;
	transition: all .3s ease;
	margin-top: calc(var(--index) * 1.5);
}

.btn:hover {
	background: #3C48B0;
	text-decoration: none;
	transition: all .3s ease;
}

.button {
	border: none;
	text-transform: uppercase;
}

.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10;
	display: flex;
	display: none;
}

.loader-item {
	flex: 1 1 auto;
	z-index: 12;
	background: var(--bg-second);
}

.loader-title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 11;
	font-size: calc(var(--index) * 1.8);
	color: var(--color-first);
}

.wrapper {
	position: relative;
	z-index: 0;
	width: 100%;
}

.container {
	padding: 0 6vw;
}

.header {
	min-height: 100vh;
	/* max-height: 740px; */
	width: 100%;
	position: relative;
	overflow: hidden;
}

.header-block {
	/* position: relative; */
	width: 100%;
	position: fixed;
	z-index: 9;
	background: linear-gradient(180deg, rgba(255, 255, 255, .85), transparent);
}

.header-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	background: url('../img/header-bg.jpg') center center;
	background-size: 100% 100%;
}

.header-bg-oval {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

.header-bg-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.header-title {
	position: absolute;
	text-align: center;
	bottom: calc(var(--index) * 4);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	/* transform: translate(0px, 0px); */
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

#logo {
	transform: translate(0px, 70px);
	width: 145px;
	height: 214px;
	transition: all .3s ease;
}

@media screen and (max-width: 1199px) {
	#logo {
		width: 113px;
		height: 167px;
		position: fixed;
		transform: translate(-50%, 50px);
		left: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 767px) {
	#logo {
		width: 100px;
		height: 148px;
	}
}

.logo-href {
	display: block;
	height: 100%;
	width: 100%;
}

.logo-img {
	width: 100%;
	height: auto;
}

.menu {
	margin-right: auto;
	margin-left: calc(var(--index) * 8 - 145px);
}

@media screen and (max-width: 1199px) {
	.menu {
		display: none;
		margin-right: auto;
		margin-left: auto;
	}
}

.menu-block,
.social,
.language {
	list-style: none;
	padding-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s ease;
}

.open-modal .social,
.open-modal .hamburger-menu,
.open-modal .language {
	display: none;
	transition: all .3s ease;
}

.language {
	margin-left: calc(var(--index) * 1.5);
}

@media screen and (max-width: 1199px) {
	.language {
		margin-left: auto;
	}
}

.menu-block-item+.menu-block-item {
	margin-left: calc(var(--index) * 1.5);
}

.menu-block-link {
	text-decoration: none;
	color: var(--color-second);
	transition: all .3s ease;
	font-size: 18px;
	text-transform: uppercase;
	/* text-shadow: 1px 1px 6px #fff; */
	position: relative;
	transition: all .3s ease .3s;
}

.menu-block-link.active:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: url('../img/polarstar.svg') center center no-repeat;
	width: 25px;
	height: 26px;
	transition: all .3s ease .3s;
}

.menu-block-link:hover {
	text-decoration: none;
	color: var(--color-first);
	transition: all .3s ease;
}

.close-menu {
	display: none;
	width: 48px;
	height: 48px;
	background: url('../img/close-menu.svg') center center no-repeat;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: all .3s ease .3s;
	transform: rotate(0);
}

.active .close-menu {
	display: block;
}

.close-menu:hover {
	transition: all .3s ease .3s;
	transform: rotate(360deg);
}

.hamburger-menu {
	position: relative;
	display: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 2;
	transition: all .3s ease .3s;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1199px) {
	.hamburger-menu {
		display: flex;
	}
}

.hamburger-menu span {
	display: block;
	width: 22px;
	height: 2px;
	background: var(--color-second);
	margin-top: 2px;
	margin-bottom: 2px;
	transition: all .3s ease .3s;
}

.hamburger-menu span:before,
.hamburger-menu span:after {
	content: "";
	display: block;
	width: 22px;
	height: 2px;
	background: var(--color-second);
	transform: translateY(-6px);
	transition: all .3s ease .3s;
}

.hamburger-menu span:after {
	transform: translateY(4px);
}

.hamburger-menu:hover span:before {
	transition: all .3s ease .3s;
	transform: translateY(-6px) translateX(10px);
}

.hamburger-menu:hover span:after {
	transition: all .3s ease .3s;
	transform: translateY(4px) translateX(5px);
}

.social {
	margin-left: calc(var(--index) * 1.5);
}

.social .fa {
	font-size: 24px;
}

.social .fa+.fa {
	margin-left: calc(var(--index) * 1.5);
}

.story {
	padding-top: calc(var(--index) * 1.5);
	padding-bottom: calc(var(--index) * 1.5);
	background: #D8F0F2;
	position: relative;
	min-height: 100vh;
}

/* .story:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: url('../img/story.jpg') center center;
	background-size: contain;
	z-index: 0;
} */

.story-certificate {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	width: 100%;
	height: 120px;
	background: url('../img/story.jpg') center center;
	background-size: cover;
	z-index: 0;
}

@media screen and (max-width: 767px) {
	.story-description p+p {
		margin-top: var(--index);
	}
}

.story-certificate-img {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
}

.story-block {
	display: flex;
	width: 100%;
	min-height: calc(100vh - 160px);
	align-items: center;
	position: relative;
}

@media screen and (max-width: 991px) {
	.story-block {
		min-height: 60vh;
	}
}

@media screen and (max-width: 767px) {
	.story-block .btn {
		margin-left: auto;
		margin-right: auto;
	}
}

.story-block-text {
	width: 50%;
	max-width: 770px;
}

@media screen and (max-width: 767px) {
	.story-block-text {
		width: 100%;
		max-width: 100%;
	}
}

.story-title {
	margin-bottom: calc(var(--index) * 1.4);
}

.story-about-text p {
	overflow: hidden;
	height: 0;
}

@media screen and (max-width: 767px) {
	.story-about-text p {
		overflow: unset;
		height: auto;
	}
}

.story-about-text p:first-child {
	height: auto;
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.story-about-text p+p {
		margin-top: var(--index);
	}
}

.story-block-image {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 50%;
	width: calc(100% / 2);
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.story-block-image {
		position: relative;
		width: 100%;
		left: 0;
	}
}

.story-img {
	width: 100%;
	max-width: fit-content;
	height: auto;
	margin-top: calc(var(--index) * 1.2);
	margin-bottom: calc(var(--index) * 1.2);
}

.story-about {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--gap);
}

@media screen and (max-width: 767px) {
	.story-about {
		grid-template-columns: 1fr;
		gap: var(--gap);
	}
}

/* OUR STORY IMG BEGIN */
.story-about-image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 767px) {
	.story-about-image {
		height: calc(550px * .75);
	}
}

.story-about-photo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: fit-content;
	height: fit-content;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 767px) {
	.story-about-photo {
		height: 100%;
	}
}

.story-about-img {}

@media screen and (max-width: 767px) {
	.story-about-img {
		width: auto;
		height: 100%;
	}
}

.story-about-title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: fit-content;
	height: fit-content;
}

.story-about-title-img {}

/* OUR STORY IMG END */

@media screen and (max-width: 767px) {
	.story-about-block {
		margin-top: calc(var(--index) * 2.4);
		margin-bottom: calc(var(--index) * 1.4);
		min-height: unset;
	}
}

.story-about-text {}

.story-about-text p+p {}

.flavours {
	/* margin-top: calc(var(--index) * -5);
	padding-top: calc(var(--index) * 6.5); */
	padding-bottom: calc(var(--index) * 4);
	background: url('../img/flavours.jpg') center center;
	background-size: cover;
	min-height: 100vh;
}

.flavours-about {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr;
}

.flavours-about-block {
	width: 100%;
	height: fit-content;
	background: #D8F0F2;
	padding-bottom: calc(var(--index) * 4);
}

@media screen and (max-width: 767px) {
	.flavours-about-block {
		padding-top: 0;
		padding-bottom: 0;
	}
}

/* FLAVOURS IMG BEGIN */
.flavours-about-image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 767px) {
	.flavours-about-img {
		width: 100%;
	}
}

.flavours-about-photo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: fit-content;
	height: fit-content;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 991px) {
	.flavours-about-photo {
		width: 85%;
		height: 85%;
	}
}

.flavours-about-img {
	width: 100%;
	height: 100%;
}

.flavours-about-title {
	margin: auto;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flavours-about-title-img {
	width: 100%;
	height: 100%;
}

/* FLAVOURS IMG END */

.flavours-title {
	text-align: center;
}

.flavours-block {
	/* display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	text-align: center; */
	gap: calc(var(--index) * 1.2) calc(var(--index) * 3);
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 0;
}

.flavours-product-block {
	width: 100%;
	min-height: 100vh;
}

/* @media screen and (max-width: 1439px) {
	.flavours-block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
} */

/* @media screen and (max-width: 767px) {
	.flavours-block {
		display: grid;
		grid-template-columns: 1fr;
	}
} */

.flavours-item {
	position: relative;
	z-index: 0;
	transform: translateY(0px);
	width: calc(50% - calc(var(--index) * 1.5));
	max-width: 660px;
}

@media screen and (max-width: 767px) {
	.flavours-item {
		width: 100%;
		text-align: center;
	}
}

.flavours-item:nth-child(2n+2) {
	transform: translateY(170px);
}

@media screen and (max-width: 767px) {
	.flavours-item:nth-child(2n+2) {
		transform: translateY(0px);
	}
}

.flavours-text {
	text-align: left;
}

.flavours-img {
	position: relative;
	z-index: 0;
}

.flavours-name {
	width: fit-content;
	font-family: 'ArnoPro-Regular', sans-serif;
	font-size: calc(var(--index) * 2);
	text-decoration: none;
	transition: all .3s ease .3s;
	display: block;
	line-height: calc(var(--index) * 1.8);
}

.flavours-description {
	font-size: 24px;
	line-height: 28px;
	margin-top: 10px;
	width: 100%;
	/* max-width: 480px; */
}

@media screen and (max-width: 991px) {
	.flavours-description {
		font-size: 22px;
	}
}

.flavours-description p+p {
	margin-top: 10px;
}

.active .flavours-description {
	opacity: .85;
	background: var(--bg-second);
	transform: translateY(0px);
	height: auto;
	min-height: 100%;
	transition: all .3s ease;
	z-index: 1;
	bottom: 0;
}


.whosale {
	padding-top: calc(var(--index) * 1.5);
	padding-bottom: calc(var(--index) * 1.5);
	background: #FEDDEE;
	min-height: 100vh;
}

@media screen and (max-width: 767px) {
	.whosale {
		min-height: unset;
	}
}

.whosale-title {
	margin-bottom: calc(var(--index) * 1.4);
}

.whosale-block-text {
	width: 50%;
	max-width: 770px;
}

@media screen and (max-width: 767px) {
	.whosale-block-text {
		width: 100%;
		max-width: 100%;
	}
}

.whosale-description p+p,
.whosale-description p+ul,
.whosale-description ul+p {
	margin-top: var(--index);
}

.whosale-description ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.whosale-block {
	display: flex;
	width: 100%;
	min-height: calc(100vh - 160px);
	align-items: center;
	position: relative;
}

.whosale-block-image {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 50%;
	width: calc(100% / 2);
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.whosale-block-image {
		position: relative;
		width: 100%;
		left: 0;
	}
}

.whosale-img {
	width: 100%;
	max-width: fit-content;
	height: auto;
	margin-top: calc(var(--index) * 1.2);
	margin-bottom: calc(var(--index) * 1.2);
}

.whosale-button {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.testimonial {
	padding-top: calc(var(--index) * 1.5);
	padding-bottom: calc(var(--index) * 1.5);
	position: relative;
	min-height: 50vh;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.testimonial:after {
	content: "";
	background: url('../img/testimonials.jpg') center center;
	background-size: cover;
	margin: auto;
	min-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.testimonial-block {
	height: 100%;
	width: 100%;
}

.testimonial-item {
	opacity: 0.8;
	display: inline-flex;
	/* width: 288px; */
	padding: 0 8px;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
	line-height: normal;
	transition: all 1.3s ease;
}

.testimonial-item.is-visible.is-active,
.testimonial-item.is-visible.is-next+.testimonial-item.is-visible {
	transform: translateY(15px);
	transition: all 1.3s ease;
}

.testimonial-item.is-visible.is-next,
.testimonial-item.is-visible:not(.is-next):not(.is-active)+.testimonial-item.is-visible:not(.is-next):not(.is-active) {
	transform: translateY(0px);
	transition: all 1.3s ease;
}

.testimonial-message {
	display: block;
	width: 100%;
	max-width: 340px;
	background: var(--bg-second);
	padding: 16px;
}

/* .testimonial-item:nth-child(2n) {
	transform: translateY(30px);
} */

.testimonial-message b {
	display: block;
	margin-top: 10px;
}

.contact {
	background-color: #f0f1f3;
	background-image: url('../img/contact.jpg');
	background-repeat: no-repeat;
	background-position: center 100%;
	/* min-height: 700px; */
	width: 100%;
	position: relative;
	min-height: 100vh;
}

@media screen and (max-width: 767px) {
	.contact {
		background-size: contain;
		min-height: unset;
	}
}

.contact:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--bg-fifth);
	z-index: -1;
}

.contact-block {
	padding-top: calc(var(--index) * 1.5);
	padding-bottom: calc(var(--index) * 1.5);
	padding-left: calc(var(--index) * 8);
	padding-right: calc(var(--index) * 8);
	min-height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 767px) {
	.contact-block {
		padding-left: 0;
		padding-right: 0;
	}
}

.contact-title {
	margin-top: calc(var(--index) * 1.4);
}

.form {
	width: 100%;
	max-width: 660px;
	margin-top: calc(var(--index) * 1.4);
}

.form-block {
	width: 100%;
}

.form-group-top {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--gap);
	margin-bottom: var(--gap);
}

@media screen and (max-width: 767px) {
	.form-group-top {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 767px) {
	.form-block .btn {
		max-width: 100%;
	}
}

.form-group {
	display: flex;
	flex-direction: column;
	position: relative;
}

.form-group label {
	font-size: 16px;
	color: var(--color-first);
}

.form-control,
.form-control:not(:focus),
.form-control:focus+* {
	border: 1px solid var(--color-first);
	background: var(--bg-first);
	padding: 0 16px;
	height: 42px;
	width: 100%;
	line-height: 42px;
	transition: all .3s ease 0;
	font-size: 16px;
	font-family: 'ArnoPro-Regular', sans-serif;
	color: var(--color-first);
}

.form-control:focus,
.form-control:active,
.form-control:focus-within,
.form-control:target,
.form-control:focus-visible {
	border: 1px solid var(--color-first);
	background: var(--bg-second);
	outline: none;
	transition: all .3s ease 0;
}

.form-control:focus::placeholder {
	color: transparent;
	transition: all .3s ease;
}


.form-control.error {
	border: 1px solid var(--color-fourth);
	color: var(--color-fourth);
	transition: all .3s ease;
}

.form-control.error::placeholder {
	color: var(--color-fourth);
	transition: all .3s ease;
}

.form-control.success {
	border: 1px solid var(--color-fifth);
	color: var(--color-fifth);
	transition: all .3s ease;
}

.form-control.success::placeholder {
	color: var(--color-fifth);
	transition: all .3s ease;
}

textarea.form-control {
	padding: 12px 16px;
	line-height: 18px;
}

.text-muted {
	display: none;
	font-size: 16px;
	color: var(--color-third);
	position: absolute;
	top: 105%;
	left: 0;
}

@media screen and (max-width: 767px) {
	.copyright-block {
		text-align: center;
	}
}


.open-modal #logo {
	transform: translate(-50%, 85px);
	width: 113px;
	height: 167px;
	z-index: 11;
	transition: all .3s ease;
}

.open-modal #menu {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .75);
	transition: all .3s ease;
}

.open-modal #menu .menu-block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 190px;
	background: var(--bg-second);
	position: absolute;
	left: 50%;
	top: var(--gap);
	height: fit-content;
	width: calc(100% - var(--gap) * 2);
	max-width: 400px;
	z-index: 10;
	transform: translateX(-50%);
	padding-top: 230px;
	padding-bottom: 80px;
	transition: all .3s ease;
}

.open-modal #menu .menu-block-item {
	margin-top: 0;
}

.open-modal #menu .menu-block-link.active:after {
	display: none;
}

.open-modal #menu .menu-block-item+.menu-block-item {
	margin-left: 0;
}

.open-modal #menu .close-menu {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 480px;
	margin-bottom: 30px;
	z-index: 11;
}